<!-- Footer -->
<section class="footer">
	<div class="row clearfix">
		<div class="large-12 columns ">
			<div class="text-center clearfix">
				<ul class="footer-menu">
					<li>
						<a class="uppercase white-text fs16" href="#">Home</a> <span class="light-blue">/</span>
					</li>
					<li>
						<a class="uppercase white-text fs16" href="#">Catalog</a> <span class="light-blue">/</span>
					</li>
					<li>
						<a class="uppercase white-text fs16" href="#">Shopping cart</a> <span class="light-blue">/</span>
					</li>
					<li>
						<a class="uppercase white-text fs16" href="#">Contact</a> <span class="light-blue">/</span>
					</li>
					<li>
						<a class="uppercase white-text fs16" href="#">Info</a>
					</li>
				</ul>
			</div>

			<div class="text-center clearfix" style="margin-top: 20px;">
				<div class="footer-white-line"></div>
				<a class="social-button radius-100pc fa fa-facebook" ></a>
				<a class="social-button radius-100pc fa fa-twitter" ></a>
				<a class="social-button radius-100pc fa fa-google-plus" ></a>
				<a class="social-button radius-100pc fa fa-pinterest" ></a>
				<div class="footer-white-line"></div>
			</div>

			<p class="text-center light-blue fs12" style="margin-top: 20px;"> © 2014 Confify Store. All rights reserved. </p>

		</div>
	</div>
</section>