<ul class="side-nav">
  <li>
    <label>General</label>
  </li>
  <li class="divider"></li>
  <li class="active">
    <a href="#"> 
      <i class="fi-heart">
        <span>Management</span>
      </i>
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <label>Your confessions</label>
  </li>
  <li class="divider"></li>
  <li><a href="#"> 
      <i class="fi-heart">
        <span>Management</span>
      </i>
    </a>
  </li>
  <li class="divider"></li>
  <li><a href="#"> 
      <i class="fi-heart">
        <span>Management</span>
      </i>
    </a>
  </li>
  <li class="divider"></li>
  <li><a href="#"> 
      <i class="fi-heart">
        <span>Management</span>
      </i>
    </a>
  </li>
  <li class="divider"></li>
  <li><a href="#"> 
      <i class="fi-heart">
        <span>Add new...</span>
      </i>
    </a>
  </li>
  <li class="divider"></li>
</ul>