<dl class="sub-nav" data-topbar data-options="sticky_on: medium;">
  <div class="filter-wrap">
    <div class="row collapse">
      <div class="large-6 columns filter-dropdown">
        <span>Filter:</span>
        <span>
          <a href="#" data-dropdown="drop-filter" data-options="is_hover:true" class="m-0 tiny secondary radius round button dropdown">Dropdown Button</a><br>
          <ul id="drop-filter" data-dropdown-content class="f-dropdown tabs">
            <li class="active">
              
              <a href="#panel2-1">All</a>
            </li>
            <li>
              <a href="#panel2-2">Approved</a>
            </li>
            <li>
              <a href="#panel2-3">Not-Approved</a>
            </li>
          </ul>
        </span>
      </div>
    </div>   
  </div>
</dl>