// Place all the styles related to the confessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner{
  max-height: 400px;
  position: relative;
  z-index: -1;
}
.my-sub-nav{
  background-color: #ffffff;
}
.my-panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  padding: 1.25rem;
  background: #f2f2f2;
}
.img-banner{
  position: relative;
  width: 100%;
  z-index: 1;
}









