body {
  background-image: image-url('bg.png');
  background-repeat: repeat;
  line-height: 1.5;
}



i{
  padding-right: 10px;  
}

.full-width{
  width: 100%;
}


textarea{
  resize: none;
  outline: none !important;
}

li{
  list-style: none;
}


.lh150{
  line-height: 150%;
}

.m0{
  margin: 0;
}
.mbt10{
  margin: 10px 0;
}
.mr10{
  margin-right: 10px;
}



.callout-border{
  border: 1px solid #C7ECFA;
}

.no-select{
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}






::-webkit-input-placeholder {
  font-family: "ConfifyOps","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 
  color:    #838383;

}
:-moz-placeholder {
  font-family: "ConfifyOps","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

  color:    #838383;
}
::-moz-placeholder {
  font-family: "ConfifyOps","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

  color:    #838383;
}
:-ms-input-placeholder {
  font-family: "ConfifyOps","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

  color:    #838383;
}



.uppercase{
  text-transform: uppercase;
}







.top-bar .name{
  width: 0;
}

.top-color-line{
  background: image-url('colorline.jpg');
  height: 4px;
}
.top-base-header{
  height: 280px;
  background-color: #31485b;
}

.slides, .slider-item{
  height: 437px;
  background-size: cover;
  background-position: center;
}



.verticalContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
}
.verticalContent {
    display: table-cell;
    vertical-align: middle;
}

.white-line{
    border-top: 1px solid #fff;
    width: 70px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}


.flat-btn{
  display: inline-block;
  width: 45px;
  height: 40px;
  background-color: white;
  vertical-align: top;
  margin: -4px 8px;
  border: 1px solid #d7d7d7;
}

.grey-line{
  border-top: 1px solid #d7d7d7;
  width: 30%;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 18px 8px;
}
.card{
  max-width: 260px;
  background: white;
  border: 1px solid #CFCFCF;
}
.card-img{
  border-bottom: 1px solid #d7d7d7;
  padding: 10px;
}
.card-caption{
  padding: 15px 15px 20px 15px;
}

.add-to-cart-btn{
  background-color: #fff;
  color: #808080;
  border: 1px solid #d7d7d7;
}
.card-price{
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.new-badge{
  width: 60px;
  height: 25px;
  background-image: image-url('new-badge.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: -2px;
  color: white;
  text-align: center;
  top: 10px;
}


.footer{
  background-color: #3c5569;
  color: #738593;
}

.footer-menu{
  margin-top: 25px;
}
.footer-menu > li{
  display: inline-block;
}

.footer-menu > li a{
  padding: 15px;
}

.footer-white-line{
  border-top: 1px solid #738593;
  width: 30%;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 18px 8px;
}
.social-button{
  border: 1px solid #738593;
  width: 35px;
  height: 35px;
  color: #738593;
  font-size: 20px;
  padding-top: 7px;
  margin: 0 5px;
}






/* contact */
.contact-board{
  border: 5px solid #31485b;
  margin-bottom: 50px;
}
.contact-img{
  border: 5px solid #fff;
}
.contact-input, .contact-area{
  padding: 15px;
  border: none;
  background: #f1f1f1;
}



